// fonts
$font_primaria: 'Roboto', sans-serif;

// media queries
$tablet: 768px;
$desktop: 1024px;

// cor
$primaria: #0274b6;
$secundaria: #1c3a8d;
$red: #e21d1d;
$white: #ffffff;
$green: #9ecc3c;
$gray: #707070;
$blue_light: #27b7ca;

//unidades
$space: 2em;